@use "variables" as *;
@use "mixins" as *;

h1,h2,h3,h4 {
    font-family: 'roboto condensed';
}

h2 {
    text-align: center;    
    font-size: 2rem;
    
}

a {
    font-family: "Roboto", "Helvetica Neue", "Helvetica";
}

p {
    text-align: center;   
    font-size: 1rem;
    font-family: "Roboto", "Helvetica Neue", "Helvetica";
}


//machine section------------------------------------------------


.machine {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 1rem;
    padding: 1rem 0;
    gap: 1rem;
        
    // border-: 1px solid black;

    text-align: center;
    align-items: center;
    place-items: center;
    
    a {
        display: none;
    }
    
    @include mq(37.5em) {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        border-top: none;
        margin-bottom: 5rem;

        h3 {
            color: $brand-color;
            font-size: 1.8rem;
            margin-bottom: 0;
        }

        a {
            display: block;
            color: $text-color-dark;
        }

        .screening {
            grid-row: 2/3;
        }

        .screen-hand {
            grid-row: 2/3;
            grid-column: 2/3;
        }

        .grit {
            grid-row: 2/3;
            grid-column: 3/4;
        }

        .view {
            grid-row: 3/4;
            margin-top: 0;
            
        }
    }
}

.machine-text {
    // display: grid;
    // grid-template-columns: repeat(3, 1fr);
    // grid-template-rows: 1fr 1fr;
    // margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 3rem;

    @include mq(37.5em) {
        font-size: 1.3rem;
        border-bottom: transparent;
        padding-bottom: 1rem ;
    }

    
}

.machine-text h2 {
    // width: 100%;
    // place-items: center;
    // align-items: center;
    // grid-column: span;
    grid-column: 2/3;
    margin: 0;
    font-size: 30px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
    color: #555;

    @include mq(37.5em) {
        color: $secondary-color;
        font-size: 35px;
        border-bottom: transparent;
        padding-bottom: 1rem ;
    }
    
    @include mq(68.75em) {
        font-size: 45px;
    }
}

.machine-text p {
    display: block;
    grid-column: 2/3;
    grid-row: 2/3;
    overflow: auto;
    font-size: 14px;

    @include mq(68.75em) {
        font-size: 17px;
        padding: 0 5rem;
    }
}

.machine h2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    place-items: center;
    grid-column: span;


    
}

.blue-wave {
    // margin-bottom: 0;
    height: 8rem;
    // width: fit-content;
    // transform: scale(110%);
    width: 100%;
    // height: auto;
    margin-bottom: 0;
    padding-bottom: 0;
    
    
}

.question-wrapper {
    background-color: $secondary-color;
    padding: 1rem 1rem;
    // width: 100%;
    // min-height: auto;
    margin-top: 0;

    @include mq(68.75em) {
        // padding: 0 1rem;
    }
}

//question section------------------------------------------------


.advisor {
    display: block;
    width: 100%;
}


.question {
    // padding: 0 1rem;
    
}

.question h2  {
    color: $text-color-light;
    padding-top: 2rem;
    margin-top: 0;

    @include mq(37.5em) {
        font-size: 2.4rem;
        margin-bottom: 0;
    }
}

.question p {
    color: $text-color-light;
    border-bottom: 1px solid white;
    padding-bottom: 2rem;
    margin-bottom: .5rem;

    @include mq(37.5em) {
        font-size: 1.4rem;
        color: $brand-color;
        margin-top: .5rem;
    }


}

.question div{
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem 0;

    @include mq(37.5em) {
        grid-template-columns: 1fr 1fr;

        column-gap: 1rem;

        .product-type-fill {
            grid-row: 2/3;
        }

        .flow-type-fill {
            grid-row: 4/5;
        }

        .channel-depth-fill {
            grid-row: 4/5;
            grid-column: 2/3;
        }

        .channel-width-fill {
            grid-row: 6/7;
        }


    }

    @include mq(68.75em) {
        grid-template-columns: repeat(5, 1fr);

        .product-type-fill {
            grid-row: 2/3;
        }

        .screen-loc {
            grid-column: 2/3;
        }

        .screen-loc-fill {
            grid-column: 2/3;
            grid-row: 2/3;
        }

        .flow-type {
            grid-column: 3/4;
            grid-row: 1/2;
        }

        .flow-type-fill {
            grid-row: 2/3;
            grid-column: 3/4;
        }

        .channel-depth {
            grid-column: 4/5;
            grid-row: 1/2;
        }

        .channel-depth-fill {
            grid-row: 2/3;
            grid-column: 4/5;
        }

        .channel-width-fill {
            grid-row: 2/3;
            grid-column: 5/6;
        }
    }
}

.question label {
    color: $text-color-light;
    padding: .5rem 0;
    font-family: "Roboto", "Helvetica Neue", "Helvetica";
    margin-top: 1rem;
    
}

.question select {
    padding: 15px 0;
    background-color: rgb(185, 185, 185);
    font-size: 1rem;
    font-weight: 600;
    color: #555;
}

.question select:hover {
    background-color: white;
}

.question-button {
    display: grid;
    grid-template-columns: 1fr;

    text-align: center;
    width: 100%;
    padding: .8rem 2rem;
    margin: 2rem 0;
    // margin-top: 2rem;
    background-color: $brand-color;
    
    text-decoration: none;
}

// .question-button:active {
//     transform: scale(110%);
// }

.question-button a {
    text-decoration: none;
    color: $text-color-light;
    font-size: 1rem;
}

//About us section------------------------------------------------

.about-us-container {
    background-image: url(../images/bg-section-about-us.jpg);
    // display: grid;
    // grid-template-columns: 1fr;
    // padding: 3rem 1rem;
    // align-items: center;
    // width: 100%;
    background-size: cover;
    background-position: 50% 0;
    position: relative;
    
}

.about-us h3 {
    font-size: 2.5rem;
    text-align: center;
    color: $text-color-light;

    @include mq(37.5em) {
        font-size: 3rem;
    }
}

.about-us p {
    color: $text-color-light;
    display: block;
    padding: 0 50px 60px;
    margin: 0;

    @include mq(37.5em) {
        padding: 0 175px 60px;
    }
    
}

.about-us {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    place-items: center;

    
    flex-direction: column;
    padding: 150px 10px 100px ;
}

.about-us-button {
    display: inline-block;
    // justify-content: center;
    color: $text-color-light ;
    border: 2px solid rgb(255, 255, 255);
    background-color: transparent;
    padding: 15px 35px;
    margin: 2rem 0;
    // max-width: 50%;

}

.about-us-button a {
    color: $text-color-light ;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
}