@use 'variables' as *;
@use 'mixins' as *;

.my-header { 
	position: absolute;
	z-index: 100;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	background-color: rgba(44, 38, 38, 0.5);
    height: 2.5rem; 
} 
 
.header-wrapper { 
	position: relative; 
	display: flex; 
	align-items: center; 
	justify-content: space-between; 
	width: 100%; 
	padding: 0.75rem 1rem;
    font-size: 0.75rem;
}

.site-logo {
	height: 4rem;
	width: 6rem;
}

.hidden-xs {
	display: none;
}

// TABLET
@media screen and (min-width: 600px) {
	
	.header-wrapper {
		position: absolute;
		display: flex;
		flex-direction: column;
		align-content: center;
		align-items: center;
		justify-content: center;
		margin: 0 auto;
		top: 7rem;
	}

	.site-logo {
		height: 12rem;
		width: 15rem;
		position: absolute;
		top: -7rem;
		left: 50%;
		transform: translateX(-50%);
	}

	.my-header {
		position: absolute;
		top: 0;
		background-color: transparent;
	}

	
	.hidden-xs { 
		display: flex;
		padding: 1rem;
	}


	.text-left, .text-right, a {
		text-decoration: none;
		color: $text-color-light;
		cursor: pointer;
	}

	.text-left, .text-right, ul {
		list-style: none;
		font-family: $body-font;
		font-size: 1rem;
		
	}

	.header-item-list li {
		display: inline-block;
		margin-right: 10px;
	   }

	.text-left {
		position: absolute;
		text-align: left;
		left: 0;
	}

	.text-right {
		position: absolute;
		text-align: right;
		right: 3rem;
	}
}

// DESKTOP

@media screen and (min-width: 68.75em) {

}