@use 'variables' as *;
@use 'mixins' as *;

.my-header {
	position: absolute;
	z-index: 100;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	background-color: rgba(44, 38, 38, 0.5);
    height: 2.5rem;
}
 
.header-wrapper {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 0.75rem 1rem;
    font-size: 0.75rem;
}

.site-logo {
	height: 4rem;
	width: 6rem;
}

// TABLET
@media screen and (min-width: 600px) {
	.header-wrapper {
		position: relative;
		display: flex;
		flex-direction: row;
		align-content: center;
		align-items: center;
		justify-content: space-around;
		margin: 0 auto;
		top: 7rem;
		
	}

	.my-header {
		position: absolute;
		top: 0;
		background-color: transparent;
	}

	.site-logo {
		display: none;
	}
}

// DESKTOP

@media screen and (min-width: 68.75em) {

}